.app {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 314px auto;
	transition: all 0.3s ease-in-out;

	&.toggled-aside {
		grid-template-columns: 94px auto;
		.aside {
			width: 94px;
			.logo {
				display: none;
			}
			.nav-list {
				&__item {
					align-items: center;
				}
				&__link {
					justify-content: center;
					p {
						display: none;
					}
				}
			}
			&__footer {
				.btn {
					p {
						display: none;
					}
				}
			}
		}
	}
}

.aside {
	min-height: 100vh;
	border-right: 1px solid var(--color-tertiary);
	display: flex;
	flex-direction: column;
	transition: all 0.3s ease-in-out;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px 20px 44px 40px;
	}

	&__body {
		flex: 1;
		padding: 20px;
	}

	&__footer {
		border-top: 1px solid var(--color-tertiary);
		padding-top: 22px;
		padding: 22px 21px 44px 40px;
		position: sticky;
		bottom: 0;
		background-color: #fff;
	}
}

.header {
	padding: 32px 30px 28px 30px;
	display: grid;
	grid-template-columns: 1.5fr 1.5fr 2fr;

	&__title {
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		color: var(--color-secondary);
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 54px;
	}
}

.logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;

	&__image {
		width: 26px;
		height: 26px;
	}

	&__text {
		font-weight: 700;
		font-size: 20px;
		line-height: 23px;
		color: #000;
	}
}

.widget-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	.widget {
		position: relative;
		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		&:not(:last-child) {
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				width: 1px;
				height: 80%;
				background-color: #cddcee;
			}
		}
	}
}

.avatar-group {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	width: fit-content;
}

.gird {
	display: grid;
	gap: 16px;
	grid-template-areas:
		"a a a"
		"b b c"
		"d d d";

	.grid__col {
		&:first-child {
			grid-area: a;
		}

		&:nth-child(2) {
			grid-area: b;
		}

		&:nth-child(3) {
			grid-area: c;
			display: flex;
			justify-content: end;
			align-items: center;
		}

		&:last-child {
			grid-area: d;
		}
	}
}
